
/* LOGO ANIMATION */





/* CARD FLIP ANIMATION https://uiverse.io/joe-watson-sbf/little-goat-24 */



@keyframes slideUp {
  0% {
    transform: translateY(0);
    z-index: 1;
  }
  50% {
    transform: translateY(-150px); /* adjust this value as per your needs */
    z-index: 0;
  }
  100% {
    transform: translateY(0);
    z-index: 0;
  }
}

@keyframes slideDown {
  0% {
    transform: translateX(1rem) translateY(1rem); /* Added default translateX */
    z-index: 1;
  }
  50% {
    transform: translateX(1rem) translateY(150px); /* Add default translateX and adjusted translateY */
    z-index: 0;
  }

  100% {
    transform: translateX(1rem) translateY(1rem); /* Revert back to default transforms */
    z-index: 2;
  }
}


/* .headshotContainer:hover .headshot {
  z-index: 0;
  animation: slideUp 1s forwards;
}
.headshotContainer:hover .photoBack {
  z-index: 0;
  animation: slideDown 1s forwards;
}

.headshot {
  z-index: 1;
  transition: transform 0.5s
} */

.photoBack {
  background-color: var(--accent-color);
  /* background-color: #3C6E71; */
  z-index: 0; /* You can set this to 0, so it stays below the .headshot by default */  
}




/* Theme Toggler CSS https://uiverse.io/Praashoo7/angry-starfish-78  */

/* The switch - the box around the slider */

/* I NEED TO REWORK THE SWITCH HERE */
.switch {
  font-size: 17px;
  position: absolute;
  width: 1.75em;
  height: .8em;
  top: -5px; 
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--text-color);
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: .4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: .5em;
  width: 0.05em;
  border-radius: 0px;
  left: 0.15em;
  bottom: 0.15em;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--text-color);
}

input:checked + .slider:before {
  transform: translateX(1.4em) rotate(360deg);
}




/* Hide the default characters upon hover */


/* more trying with button */

.headshot{
  z-index: 1;
}

.button-container{
  rotate: 270deg;
  right: 85%;
  top: 8%;
  transition: transform 0.3s ease;
  background-color: var(--accent-color);
  position: absolute;
  transition: all 0.3s ease-in-out;
  color: #D9D9D9

}

.button-container:hover{
  transform: translateY(-60%); 
}

/* 

STARTING POSITION TO MATCH BUTTON
.modal{
  position: absolute;
  background-color: transparent;
  width: 78px;
  height: 80px;
  border: rgb(0, 255, 30) solid 1px;
  right: 42%;
  top: 32.2%;
  z-index: -1;
  rotate: 270deg;
}


.modal.active {
  opacity: 1; /* When the "active" class is added, set opacity to 1 to make it visible */
/* } 
*/

.modal{
  background-color: var(--text-color);
  right: 30%;
  width:40%;
  height: 60%;
  border: black solid 2px;
  z-index: 1;
  color: var(--background-color);
}

.modalButton{
  background-color: rgb(8, 195, 195);
  border: rgb(0, 255, 30) solid 1px;
  z-index: 2;
}




.landingName{
  color: var(--accent-font);
}

.wordChange{
  color: var(--accent-font);
}