
.photoBack {
  background-color: var(--accent-color);
}



/* nav */

.header{
  color: #000000;
}




/* Theme Toggler CSS https://uiverse.io/Praashoo7/angry-starfish-78  */

/* The switch - the box around the slider */

/* I NEED TO REWORK THE SWITCH HERE */
.switch {
  font-size: 17px;
  position: absolute;
  width: 1.75em;
  height: .8em;
  top: -5px; 
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--text-color);
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: .4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: .5em;
  width: 0.05em;
  border-radius: 0px;
  left: 0.15em;
  bottom: 0.15em;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--text-color);
}

input:checked + .slider:before {
  transform: translateX(1.4em) rotate(360deg);
}




/* Hide the default characters upon hover */


/* more trying with button */

.headshot{
  z-index: 1;

}


.button-container{
  rotate: 270deg;
  right: 85%;
  top: 8%;
  background-color: var(--accent-color);
  position: absolute;
  color: var(--accent-font);
}

.button-container:hover{
  transform: translateY(-60%); 
}





/* Landing Animation */

.landingName{
  color: var(--accent-font);
}
/* 
.tagLines, .landingName{
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
} */

.landingName:hover, .tagLines:hover  {
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.45);
}

/* .headshot:hover{
  box-shadow:0 4px 6px rgba(0, 0, 0, 0.3);
  
} */
.wordChange{
  color: var(--accent-font);
}



/* Projects */


.projectSection{
  color: var(--text-color);
  background-color:var(--accent-color);
}

.projectCards{
  background-color: var(--background-color);
  color: var(--accent-font);
  border: white solid 2px;
}

.cardContainer{
  margin: 0 17% 0 17%;
}



/* CLOUD Animation  */


.center {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.githubBotton{
  background-color: aqua;
}

.styledButton{

  /* box-shadow:0 4px 6px var(--background-shadow); */
  transition: smooth 0.3s ease-in-out;
}
/* 
.styledButton:hover{
  box-shadow: 0 5px 10px var(--hovered-shadow);
  

} */

/* .projectPhoto{
  border: black 1px solid;
} */


/* project button */

.btn{
  background-color: var(--background-color);
  color: black;
  transition: background 200ms ease-in-out;
}

.border-line{
  stroke: #000000;
  stroke-width: 5px;
  stroke-dasharray: 0 100;
  transition: stroke-dasharray 750ms ease-in-out;
}


.btn:hover {
  background-color: rgb(201, 35, 35) 
}

.btn:hover .border-line{
  stroke-dasharray: 100 0;
}

/* Resume */

li::before {
  content: '•';
  display: inline-block;
  width: 1.5em; /* Adjust the width as needed */
  margin-left: -1.5em; /* This should be the same as width to align the bullet properly */
}

li {
  list-style: none; /* Remove default list styling */
  padding-left: 1.5em; /* Make room for the bullet */
}


.resumeSection{
  color: var(--accent-font);
}
