@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root{
    --background-color: #BBC8DE;
    --text-color: #010307;
    margin: 0 19% 0 19%;
    font-family: 'Roboto Mono', monospace;
}

.dark:root{
    --background-color: #010307;
    --text-color: #BBC8DE;
}

body {
    margin:0;
    padding:0;
    background-color: var(--background-color);
    color: var(--text-color);
}


